.section-F1 {
  background: url("../images/active-bg.png") no-repeat center;
  background-size: cover;
  height: 690px;
  display: grid;
  align-items: center;
  .secF1-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 110px;
    text-align: center;
    h2 {
      font-size: 88px;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: 42px;
      line-height: 1.2;
      font-weight: 100;
    }
    .retention-wrapper {
      justify-self: right;
    }
    .child-wrapper {
      display: grid;
      grid-template-rows: repeat(2, max-content);
    }
  }
}

//responsive

@media only screen and (max-width: 1250px) {
  .section-F1 {
    .secF1-wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      white-space: pre-wrap;
    }
  }
}

@media only screen and (max-width: 850px) {
  .section-F1 {
    height: 590px;
    .secF1-wrapper {
      .child-wrapper {
        padding: 20px;
        h2 {
          font-size: 62px;
        }
        p {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width: 485px) {
  .section-F1 {
    .secF1-wrapper {
      .child-wrapper {
        h2 {
          font-size: 52px;
        }
        p {
          font-size: 25px;
        }
      }
    }
  }
}
